.header {
    color: var(--mauve);
}


body {
    text-align: center;
    background-color: var(--base);
    color: var(--text);
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--lavender);
}

hr {
    border: 0;
    border-top: 1px solid var(--surface-2);
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    margin: 2rem 20%;
    padding: 1.5rem;

    border: 1px solid var(--surface-2);
    border-radius: 8px;
    background-color: var(--surface-0);

    position: relative;
    overflow: hidden;
}

.project:hover {
    background-color: var(--surface-1);
}

.project-reverse {
    flex-direction: row-reverse;
}

footer {
    color: var(--subtext-0);
}


/* thank you to https://css-tricks.com/snippets/css/typewriter-effect/ for this code lol*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* --------- */

header {
    margin-top: 10vh;
    margin-bottom: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.info {
    text-align: left;
}

.image {
    text-align: right;
}

.image img {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50 px;
}

h1 {
    font-size: 5vh;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .info {
        text-align: center;
    }

    .image {
        margin-top: 2rem;
    }

    .project {
        flex-direction: column;
        margin: 2rem 1rem;
        text-align: center;
    }

    .project-reverse {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
}